finance and policy agent.json
{
  "name": "finance and policy agent",
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "chatInput"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        0
      ],
      "id": "236ba139-5982-4354-af41-162b3fe0cf62",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "model": "gpt-3.5-turbo",
        "options": {}
      },
      "id": "91ad3d18-42c0-47a8-aa7b-852c06d69ec4",
      "name": "OpenAI Chat Model1",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [
        832,
        288
      ],
      "credentials": {
        "openAiApi": {
          "id": "62DVq8Pr7NZe44Pg",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "name": "user_documents",
        "description": "This dataset contains information on key Indian agriculture finance and subsidy schemes as of 2025",
        "topK": "=4"
      },
      "id": "15645337-6fe8-407b-a7a3-8fe51f4c46be",
      "name": "Retrieve Documents",
      "type": "@n8n/n8n-nodes-langchain.toolVectorStore",
      "typeVersion": 1,
      "position": [
        528,
        160
      ]
    },
    {
      "parameters": {
        "model": "text-embedding-3-small",
        "options": {}
      },
      "id": "05bc6183-d662-45d9-9937-6e53072e71e6",
      "name": "Embeddings OpenAI",
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1,
      "position": [
        144,
        448
      ],
      "credentials": {
        "openAiApi": {
          "id": "62DVq8Pr7NZe44Pg",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.chatInput }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.1,
      "position": [
        208,
        16
      ],
      "id": "2e76e9c5-304c-41e0-a505-f4a45995ece9",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-3.5-turbo",
          "mode": "list",
          "cachedResultName": "gpt-3.5-turbo"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        208,
        192
      ],
      "id": "b7df7142-cf3e-4c39-87ba-e7aeb8eb29be",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "62DVq8Pr7NZe44Pg",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "tableName": {
          "__rl": true,
          "value": "india_agriculture_finance_policy_schemes_2025",
          "mode": "list",
          "cachedResultName": "india_agriculture_finance_policy_schemes_2025"
        },
        "options": {
          "queryName": "match_india_agriculture_finance_policy_schemes_2025 "
        }
      },
      "id": "90f80183-b426-42c0-9c6c-a951306fdac8",
      "name": "Supabase Vector Store",
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1,
      "position": [
        288,
        336
      ],
      "credentials": {
        "supabaseApi": {
          "id": "P1tX0a108hcQ5Qkb",
          "name": "Supabase account"
        }
      }
    }
  ],
  "pinData": {
    "When Executed by Another Workflow": [
      {
        "json": {
          "chatInput": "what is teh rainfall of South Peninsula on march"
        }
      }
    ]
  },
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Retrieve Documents",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Retrieve Documents": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Vector Store": {
      "ai_vectorStore": [
        [
          {
            "node": "Retrieve Documents",
            "type": "ai_vectorStore",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "c7c90e60-9481-4e34-a225-097f69be3542",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "5cb330a9fae5a3101c3c4c831a4baaa8afe7513ceb888c201e11eef28d626e34"
  },
  "id": "dthOUhEsXtpRaEVh",
  "tags": []
}