market and post harvest agent.json
{
  "name": "market and post harvest agent",
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "chatInput"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        112,
        -64
      ],
      "id": "ed059e93-ebed-4926-8ca3-83da088df839",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "model": "gpt-3.5-turbo",
        "options": {}
      },
      "id": "688e4861-0ea4-4d6f-b8ad-97514d031394",
      "name": "OpenAI Chat Model1",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [
        944,
        224
      ],
      "credentials": {
        "openAiApi": {
          "id": "62DVq8Pr7NZe44Pg",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "name": "user_documents",
        "description": "This dataset contains crop-wise marketable surplus quantities, post-harvest loss percentages, and average market prices (in ₹ per quintal) across different Indian states and regions",
        "topK": "=4"
      },
      "id": "debc0de3-9c83-4778-9e8e-a14804bca062",
      "name": "Retrieve Documents",
      "type": "@n8n/n8n-nodes-langchain.toolVectorStore",
      "typeVersion": 1,
      "position": [
        640,
        96
      ]
    },
    {
      "parameters": {
        "model": "text-embedding-3-small",
        "options": {}
      },
      "id": "3fdd112e-041a-4c31-bcda-3a19524f406b",
      "name": "Embeddings OpenAI",
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1,
      "position": [
        272,
        416
      ],
      "credentials": {
        "openAiApi": {
          "id": "62DVq8Pr7NZe44Pg",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.chatInput }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.1,
      "position": [
        320,
        -48
      ],
      "id": "57de9c0d-cee5-4ad8-96f7-8136be973650",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-3.5-turbo",
          "mode": "list",
          "cachedResultName": "gpt-3.5-turbo"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        320,
        128
      ],
      "id": "eb81fa27-7990-43ce-b9a9-836ca4e2d7bd",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "62DVq8Pr7NZe44Pg",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "tableName": {
          "__rl": true,
          "value": "market_and_post_harvest",
          "mode": "list",
          "cachedResultName": "market_and_post_harvest"
        },
        "options": {
          "queryName": "match_market_and_post_harvest"
        }
      },
      "id": "398fe87c-7902-48c5-b46b-bdb1f2a69220",
      "name": "Supabase Vector Store",
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1,
      "position": [
        400,
        272
      ],
      "credentials": {
        "supabaseApi": {
          "id": "P1tX0a108hcQ5Qkb",
          "name": "Supabase account"
        }
      }
    }
  ],
  "pinData": {
    "When Executed by Another Workflow": [
      {
        "json": {
          "chatInput": ""
        }
      }
    ]
  },
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Retrieve Documents",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Retrieve Documents": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Vector Store": {
      "ai_vectorStore": [
        [
          {
            "node": "Retrieve Documents",
            "type": "ai_vectorStore",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "dc2069e5-f096-4929-9d47-46023f84d759",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "5cb330a9fae5a3101c3c4c831a4baaa8afe7513ceb888c201e11eef28d626e34"
  },
  "id": "gIYskE8tuBThJ8Rg",
  "tags": []
}